/* General styles */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Container styles */
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.app-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}
.editor {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
/* Row styles */
.row {
  display: flex;
  justify-content: center;
}

/* Link styles */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Heading styles */
h1 {
  text-align: center;
}

/* Input and button styles */
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

/* Text editor styles */
.text-editor {
  width: 100%; /* Take up the full width */
  height: 110%; /* Take up the full height */
  padding: 10px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.editor-content {
  width: 80%; 
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Add vertical scroll */
  overflow-x: hidden; /* Prevent horizontal scroll */
  height: 100%; 
}

.editable {
  width: 100%;
  padding: 10px;
  min-height: 200px;
  border: 1px solid black;
  font-size: 16px;
  box-sizing: border-box;
  flex-grow: 1; /* Allow the editable area to grow */
  overflow-y: auto; /* Add vertical scroll */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Add styles for the search input */
.search-input {
  padding: 8px; 
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  width: 20.5%; 
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.editor-header .new-note-btn {
  margin-left: 10px; /* Add some space between the button and the title */
}

.editor-header .editor-title {
  margin: auto; /* Push the title to the left */
}

/* Ensure the buttons and inputs align properly */
.editor-header button {
  margin-right: 10px;
}

.editor-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.editor-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%; 
}

.sidepanel {
  width: 20%; 
  padding: 20px;
  background-color: #e0e0e0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  border-radius: 8px;
  margin-right: 10px;
}


.editor-input {
  margin-bottom: 10px;
}

.title-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
  box-sizing: border-box;
}



/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .sidepanel {
    background-color: #3f3f3f;
  }

  .text-editor {
    background-color: #1f1f1f;
    height: 98%;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}